<template>
    <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: './page-header.html' }">
            Admin
        </el-breadcrumb-item>
        <el-breadcrumb-item>Post</el-breadcrumb-item>
    </el-breadcrumb>
    
</template>
<script lang="ts" setup>

</script>