
import { ChatDotSquare } from '@element-plus/icons-vue/dist/types';

<template>
    <div class="mb-2 px-5">
        <div class="flex content-center items-center">
            <img src="https://www.kindpng.com/picc/m/163-1636340_user-avatar-icon-avatar-transparent-user-icon-png.png" alt=""
            style="width: 24px; height: 24px; border-radius: 50%;">
            <h5 class="ml-1">Admin Dashboard</h5>
        </div>
        <div class="text-xs text-gray-500 text-center">user@test.com</div>
    </div>
    <el-menu default-active="2" class="el-menu-vertical-demo" @open="" @close="">

        <el-menu-item index="1">
            <el-icon>
                <house />
            </el-icon>
            <span>Overview</span>
        </el-menu-item>
        <el-menu-item index="2">
            <el-icon>
                <reading />
            </el-icon>
            <span>Post</span>
        </el-menu-item>
        <el-menu-item index="3">
            <el-icon>
                <ChatDotSquare />
            </el-icon>
            <span>Comment</span>
        </el-menu-item>
        <el-menu-item index="4">
            <el-icon>
                <user />
            </el-icon>
            <span>User</span>
        </el-menu-item>
    </el-menu>
</template>