<template>
    <AdminLayout>
        <template #main-content>
            <el-row :gutter="28">
                <el-col :span="8">
                    <el-card shadow="hover">
                        <div class="flex justify-between">
                            <div class="text-green-500 text-lg font-medium">Views</div>
                            <div class="text-green-500 text-lg font-bold">34</div>
                        </div>
                    </el-card>
                </el-col>
                <el-col :span="8">
                    <el-card shadow="hover">
                        <div class="flex justify-between">
                            <div class="text-blue-500 text-lg font-medium">Likes</div>
                            <div class="text-blue-500 text-lg font-bold">12</div>
                        </div>
                    </el-card>
                </el-col>
                <el-col :span="8">
                    <el-card shadow="hover">
                        <div class="flex justify-between">
                            <div class="text-pink-500 text-lg font-medium">Users</div>
                            <div class="text-pink-500 text-lg font-bold">20</div>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
                    <Line :data="chartData" />
        </template>
    </AdminLayout>
</template>

<script setup>
import AdminLayout from '@/Layouts/AdminLayout.vue'
import { Line } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, LineElement, CategoryScale, LinearScale, PointElement } from 'chart.js'
import { reactive } from 'vue'
ChartJS.register(Title, Tooltip, Legend, LineElement, CategoryScale, LinearScale, PointElement)

const chartData = reactive({
    labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9'],
    datasets: [{
        data: [10, 14, 23, 18, 28, 32, 40, 20, 12],
        backgroundColor: 'rgba(55, 173, 221, 0.6)',
        borderColor: 'rgba(55, 173, 221, 1.0)',
        fill: -1,
        label: "Likes",
    }]
})

</script>
