<template>
    <AdminLayout>
        <template #main-content>
            <div>
                <el-button type="primary"><el-icon class="mr-2">
                        <Plus />
                    </el-icon>Create new post</el-button>
            </div>
            <el-table :data="tableData" stripe style="width: 100%">
                <el-table-column prop="name" label="Title" width="100" />
                <el-table-column prop="date" label="Date" width="100" />
                <el-table-column prop="address" label="Description" />
                <el-table-column label="Action">
                    <template #default>
                        <el-icon class="mr-2 ">
                            <View />
                        </el-icon>
                        <el-icon class="mr-2 ">
                            <Edit />
                        </el-icon>
                        <el-icon class="mr-2 ">
                            <Delete />
                        </el-icon>
                    </template>
                </el-table-column>
            </el-table>
            <div class="mt-4 flex justify-end">
                <el-pagination layout="prev, pager, next" :total="1000" />
            </div>
        </template>
    </AdminLayout>
</template>

<script setup>
import AdminLayout from '@/Layouts/AdminLayout.vue'
import { reactive } from 'vue'

const tableData = reactive([
    {
        date: '10/4/2023',
        name: 'post 1',
        address: 'post 1 description',
    },
    {
        date: '10/4/2023',
        name: 'post 2',
        address: 'post 2 description',
    },
    {
        date: '10/4/2023',
        name: 'post 3',
        address: 'post 3 description',
    },
])
</script>
