<script setup>
import PrimarySidebar from '@/Components/Admin/PrimarySidebar.vue';
import PrimaryHeader from '@/Components/Admin/PrimaryHeader.vue';

</script>

<template>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin</title>
    </head>

    <body>
        <div class="main-container">
            <el-container>
                <el-aside width="200px">
                    <PrimarySidebar />
                </el-aside>
                <el-container>
                    <el-header>
                        <PrimaryHeader />
                    </el-header>
                    <el-main>
                        <slot name="main-content" />
                    </el-main>
                </el-container>

            </el-container>
        </div>
    </body>

    </html>
</template>

<style>
.main-container {
    padding: 1rem;
    height: 100vh;
}
</style>